<div class="col-sm-4">
  <div class="container gy-3">
    <div class="card shadow" style="width: 18rem;">
      <img class="card-img-top" src="/images/houses.jpg" alt="Card image cap" />
      <div class="card-body">
        <h6 class="card-title">Title :{{title}} </h6>
        <p class="card-text">Description :{{description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <hr />
        <li class="list-group-item">Tags: {{tags}}</li>

        <li class="list-group-item">Category: {{category}}</li>
      </ul>
      <div class="card-body">
        <button type="submit" class="btn btn-light">
          <a href="{{this.link}}">Learn More</a></button>
      </div>
    </div>
  </div>
</div>