<div class="col-md-4 d-flex flex-wrap gap-3 align-items-stretch">
  <div class="card shadow p-3" style="width: 24rem;">
    <img
      class="card-img-top img-fluis"
      src="{{imgPath}}"
      alt="Card image cap"
    />

    <div class="card-body">

      <h6 class="card-title">{{title}} </h6>
      <h7 class="card-link">{{link}}</h7>
      <p class="card-text">{{description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{tags}}</li>
      <li class="list-group-item">Category: {{category}}</li>
    </ul>

    <div class="card-footer">

      <button type="submit" class="btn btn-light">
        <a href="{{this.link}}">View website</a></button>

      {{#if delete}}

        <a href="/Recommendation/{{_id}}/delete">Delete</a>
      {{/if}}
    </div>
  </div>
</div>